input:-webkit-autofill {
    background-color:#fff !important;
    -webkit-box-shadow:inset 0 0 0 1000px white !important;
}
.UserTitle{
    height:56px;
    border-bottom:1px solid #dfdfdf;
    line-height: 56px;
    font-size:18px;
    color:#333;
    text-align: left;
    padding-left:30px;
    *margin-bottom:24px;
}
.inputUser{
    width:330px;
    height:40px;
    border:1px solid #dfdfdf;
    border-radius: 6px;
    margin:20px auto auto 44px;
    position: relative;
}
.icon_user,.icon_code,.icon_lock,.icon_email,.icon_unit,.icon_style{
    width:30px;
    height:30px;
    background: url(../images/iconUser.png) left top no-repeat;
    background-size:cover;
    vertical-align: middle;
    float:left;
    margin:6px 0 0 12px;
}
.icon_code{
    background: url(../images/iconCode.png) left top no-repeat;
    background-size:cover;
}
.icon_lock{
    background: url(../images/iconLock.png) left top no-repeat;
    background-size:cover;
}
.icon_email{
    background: url(../images/iconEmail.png) left top no-repeat;
    background-size:cover;
}
.icon_unit{
    background: url(../images/iconUnit.png) left top no-repeat;
    background-size:cover;
}
.icon_style{
    background: url(../images/iconStyle.png) left top no-repeat;
    background-size:cover;
}
.inputUser input[type="button"]{
    letter-spacing:2px;
    width:100px;
    height:40px;
    background-color: #3d86f8;
    border:0 none;
    outline:none;
    color:#fff;
    font-size:14px;
    border-radius: 6px;
}
.agree{
    text-align: left;
    margin:14px 0 0 50px;
}
.agree  a{
    text-decoration: none;
}
input[type="checkbox"]{
    margin-right:4px;
}
.regIp{
    width: 256px;
    height: 32px;
    padding: 0 0 0 5px;
    _padding: 8px 0 0 5px;
    _height: 22px;
    font-size: 16px;
    vertical-align: middle;
    line-height: 32px;
    outline:none;
    float:left;
    margin:4px 0 0 12px;
    border:0 none;
    color:#666;
}
.onceStep{
    width:330px;
    height:40px;
    line-height: 40px;
    font-size:20px;
    text-align: center;
    background-color: #3d86f8;
    color:#fff;
    border-radius: 6px;
    margin:36px auto auto auto;
    cursor:pointer;
}
.meng{
    background: #000;
    filter: alpha(opacity=50);
    opacity: .5;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 90px;
    left: 0;
    z-index: 1000;
    display: none;
}
.new-bg-nologin{
    position: relative;
    z-index:1002;
}
.new-bg-nologin .imgbox{
    display: inline-block;
    display: none;
}
.new-bg-nologin .cha{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    z-index: 3;
    cursor: pointer;
}
.new-bg-nologin .currentimg{
    position: fixed;
    left: 50%;
    top: 50%;
}
.Cover{
    width:560px;
    height:370px;
    background: #fff;
    border-radius: 6px;
}
.close{
    display: inline-block;
    *display: inline;
    *zoom:1;
    float:right;
    padding-right:22px;
    cursor:pointer;
    color:#999;
    width:12px;
    height:12px;
    margin-top:22px;
    background: url(../css/images/close.png) no-repeat;
}
.common{
    margin:34px 0 0 114px;
}
.marginBo{
    *margin:0 0 30px 4px !important;
}
.btns{
    width:100%;
    margin-top:30px;
    text-align: right;
}
.btns a{
    text-decoration: none;
    color:#666;
    font-size:14px;
    text-align: right;
    padding-right:10px;
}
.tishi{
    position: absolute;
    top:64px;
    *top:57px;
    left:112px;
    text-align:left;
    color:#fe4e4e;
    display: none;
    *line-height:24px;
}